*.vb linguist-vendored
* linguist-vendored
*.js linguist-vendored=false
*.vue linguist-vendored=false
*.php linguist-vendored=false
*.blade linguist-vendored=false
*.Dockerfile linguist-vendored=false